@charset "UTF-8";

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", serif;
  font-size: 16px;
  background-image: url('../img/bg-header.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}
.header-logo{
    font-size: 40px;
}
.header-button{
    display: flex;
    list-style: none;
    padding: 20px 5%; 
    gap: 30px;
    font-size: 25px;
}

.subtitle{
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
}

main {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 80%;
  margin: 80px auto 50px;
  margin-bottom: 0;
  padding: 40px;
  z-index: 1;
}

.section-title{
  scroll-margin-top: 20vh;
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

.profile-container{
  margin: 120px 40px 60px 40px;
}

.profile-name{
  margin: 10px;
  font-size: 24px;
  text-align: center;
}

.profile-container p{
  text-align: center;
  line-height: 1.6;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile-sns-title{
  margin-top: 40px;
  font-size: 24px;
}

.sns-container{
  text-align: center;
}

.sns-logo-img{
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.profile-small-container{
  text-align: center;
}

.profile-sentence{
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  display: inline-block;
  padding: 10px 20px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.nobr{
  display: inline-block;
  white-space: nowrap;
}

.profile-sns-text{
  margin-top: 15px;
}

.history-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding-bottom: 50px;
}
.history-content {
  width: 270px;
  text-align: center;
  background-color: rgb(233, 223, 255,0.85);
  border-radius: 25%;
  padding-bottom: 20px;
}
.history-content img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
.history-sentence {
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}

.vision-container{
  text-align: center;
}
.vision-content{
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  display: inline-block;
  padding: 10px 20px;
}

.vision-subtitle{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 10px 0;
}

.vision-sentence{
  margin: 15px auto;
  text-align: center;
  max-width: 420px;
  line-height: 1.6;
}
/* style.css の最後に追加 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer{
  background-color: #fff;
  height: 35px;
}

.footer-content{
  text-align: right;
  margin-right: 5%;
  padding-top: 5px;
}
